/*  The Orange theme option file for the FiveAlive-lite theme of Tiki Wiki CMS Groupware. */
body.layout_social.tiki.navbar-padding {
  padding-top: 2.72rem;
  padding-bottom: 0; }

.middle_outer {
  -webkit-box-shadow: inset 0 28px 0 0 #ec6223;
  -moz-box-shadow: inset 0 28px 0 0 #ec6223;
  box-shadow: inset 0 28px 0 0 #ec6223; }

.fullscreen .middle_outer {
  -webkit-box-shadow: inset 0 3px 0 0 #1174a5;
  box-shadow: inset 0 3px 0 0 #1174a5;
  border-top: none; }

.middle .topbar {
  font-size: 0.925rem; }

nav.fixed-top {
  border-bottom: 5px solid #000000; }

.navbar.navbar-dark.bg-dark.fixed-top, .navbar.navbar-dark.bg-dark.fixed-top .navbar {
  padding: 0; }

.navbar.bg-dark.fixed-top, .navbar.bg-dark.fixed-top .navbar, .navbar.bg-light.fixed-top, .navbar.bg-light.fixed-top .navbar, .layout_classic #top_modules.bg-dark, .layout_classic #top_modules.bg-light, .header_outer, .header_outer .navbar-dark.bg-dark {
  background: #a53723 !important;
  color: #fff; }
  .navbar.bg-dark.fixed-top a, .navbar.bg-dark.fixed-top .navbar a, .navbar.bg-light.fixed-top a, .navbar.bg-light.fixed-top .navbar a, .layout_classic #top_modules.bg-dark a, .layout_classic #top_modules.bg-light a, .header_outer a, .header_outer .navbar-dark.bg-dark a {
    color: #fff; }
  .navbar.bg-dark.fixed-top a:hover, .navbar.bg-dark.fixed-top .navbar a:hover, .navbar.bg-light.fixed-top a:hover, .navbar.bg-light.fixed-top .navbar a:hover, .layout_classic #top_modules.bg-dark a:hover, .layout_classic #top_modules.bg-light a:hover, .header_outer a:hover, .header_outer .navbar-dark.bg-dark a:hover {
    color: #f9f9f9; }

.navbar.navbar-dark.bg-dark.fixed-top a, .navbar.navbar-dark.bg-dark.fixed-top .btn-link {
  color: #fff; }

.topbar .navbar-dark .navbar-nav > li, .topbar .nav > li, .layout_social #topbar_modules, .layout_social #topbar.bg-dark, .layout_social #topbar.bg-light, .layout_social .topbar .bg-dark, .layout_social .topbar .bg-light, .layout_classic #topbar_modules, .layout_classic #topbar.bg-dark, .layout_classic #topbar.bg-light, .layout_classic #topbar_modules .navbar.bg-dark, .layout_classic #topbar_modules .navbar.bg-light {
  background: #ec6223 !important; }

.bg-dark {
  background-color: #ec6223 !important; }

.layout_basic #topbar_modules, .layout_basic #topbar.bg-dark, .layout_basic #topbar.bg-light, .layout_basic .topbar .bg-light, .layout_basic .topbar .bg-dark {
  background: #ec6223 !important; }

a, .btn-link {
  color: #c74b23; }

a:hover, .btn-link:hover, a:focus, .btn-link:focus {
  color: #e77d4f; }

hr {
  border-top: 1px solid #e77d4f; }

.table th, .table td {
  border-top: 1px solid #e77d4f; }

.table > thead > tr > th {
  border-bottom: 2px solid #e77d4f; }

.table > tbody + tbody {
  border-top: 2px solid #e77d4f; }

.table .table {
  background-color: #ffffff; }

.table .table-bordered {
  border: 1px solid #e77d4f; }

.table .table-bordered th, .table .table-bordered td {
  border: 1px solid #e77d4f; }

.table .table-striped > tbody > tr:nth-child(odd) > td, .table .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9; }

.table .table-hover > tbody > tr:hover > td, .table .table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5; }

.form-control {
  color: #555555;
  background-color: #f8e4dd;
  background-image: none;
  border: 1px solid #fac5b1; }

.navbar-dark a, .navbar-dark .navbar-brand, .dropdown-item, .dropdown-item a, .dropdown-menu .tikihelp {
  color: rgba(255, 255, 255, 0.75); }

.navbar-dark a:hover, .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: rgba(255, 255, 255, 0.85);
  background-color: transparent; }

.navbar-dark a:hover, .navbar-dark a:focus {
  color: rgba(255, 255, 255, 0.85); }

.navbar-dark .active a, .navbar-dark .active a:hover, .navbar-dark .active a:focus {
  color: #fff; }

.navbar-dark .disabled a, .navbar-dark .disabled a:hover, .navbar-dark .disabled a:focus {
  color: rgba(255, 255, 255, 0.25);
  background-color: transparent; }

.navbar-dark .navbar-toggle {
  border-color: #dddddd; }

.navbar-dark .navbar-toggle:hover, .navbar-dark .navbar-toggle:focus {
  background-color: #dddddd; }

.navbar-dark .navbar-toggle .icon-bar {
  background-color: #888888; }

.navbar-dark .navbar-collapse, .navbar-dark .navbar-form {
  border-color: transparent; }

.navbar-dark .open > a, .navbar-dark .open > a:hover, .navbar-dark .open > a:focus {
  color: rgba(255, 255, 255, 0.75); }

.navbar-dark .navbar-link:hover {
  color: #f9f9f9; }

.navbar .navbar {
  background: transparent !important; }

.dropdown-menu {
  background-color: #c44a23;
  border: 1px solid rgba(0, 0, 0, 0.15); }

.tiki .dropdown-item, .tiki .dropdown-item a, .tiki .dropdown-item .btn.btn-link {
  color: #ffffff; }
  .tiki .dropdown-item:hover, .tiki .dropdown-item a:hover, .tiki .dropdown-item .btn.btn-link:hover, .tiki .dropdown-item:focus, .tiki .dropdown-item a:focus, .tiki .dropdown-item .btn.btn-link:focus {
    color: #f2f2f2;
    background: #e36732; }
  .tiki .dropdown-item:active, .tiki .dropdown-item a:active, .tiki .dropdown-item .btn.btn-link:active, .tiki .dropdown-item.active, .tiki .dropdown-item a.active, .tiki .dropdown-item .btn.btn-link.active {
    color: #f2f2f2;
    background: #ae421f; }
  .tiki .dropdown-item.disabled, .tiki .dropdown-item a.disabled, .tiki .dropdown-item .btn.btn-link.disabled, .tiki .dropdown-item:disabled, .tiki .dropdown-item a:disabled, .tiki .dropdown-item .btn.btn-link:disabled {
    color: #f2f2f2; }
  .tiki .dropdown-item .dropdown-header, .tiki .dropdown-item a .dropdown-header, .tiki .dropdown-item .btn.btn-link .dropdown-header {
    color: #ffffff; }
  .tiki .dropdown-item .dropdown-divider, .tiki .dropdown-item a .dropdown-divider, .tiki .dropdown-item .btn.btn-link .dropdown-divider {
    background: #c44a23; }

.cssmenu_horiz ul li button.btn-link.link-list, .cssmenu_vert ul li button.btn-link.link-list {
  background: #c44a23;
  color: #ffffff; }

.cssmenu_horiz ul li button.btn-link.link-list:hover, .cssmenu_vert ul li button.btn-link.link-list:hover {
  color: #f2f2f2;
  background: #e36732; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #c74b23; }

.pagination > li > a, .pagination > li > span {
  color: #c74b23;
  background-color: #ffffff;
  border: 1px solid #dddddd; }

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #e77d4f;
  background-color: #eeeeee;
  border-color: #dddddd; }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  color: #ffffff;
  background-color: #c74b23;
  border-color: #c74b23; }

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd; }

.col2 .card-header, .col3 .card-header {
  border-bottom: 1px solid #e77d4f; }

header.page-header {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none; }

header.page-header a, header.page-header a.btn-link {
  color: #ffffff !important; }

.form-control, select, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="search"], input[type="number"], input#login-pass, textarea, .adminoptionbox option {
  color: #555555;
  background-color: #f8e4dd; }

input[type="checkbox"].preffilter-toggle-round:checked + label::before {
  background: #f1c9bb; }

#footer {
  background: black;
  color: #f4f4f4;
  padding: 1px 0 2px 0;
  width: 100%; }

.footer {
  border-top: 1px solid #ebdc14;
  border-bottom: 1px solid #ebdc14; }

.footer_liner .card {
  background-color: transparent;
  border: none; }
.footer_liner .card-header {
  color: #ffffff;
  border-bottom: 1px dotted #ebdc14; }
.footer_liner legend, .footer_liner a:not(.btn), .footer_liner a:not(.btn):visited {
  color: #a9a9a9; }

.nav-tabs .nav-link {
  color: #000;
  background-color: #f8e4dd;
  border-color: #dee2e6 #dee2e6 #ffffff; }

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #fff;
  background-color: #e36732; }

.topbar .cssmenu_horiz ul {
  background: #c44a23; }

.blog-postbody-title h2.card-title {
  font-size: 20px; }

.blogpost .card-header {
  background: #a53723; }

.siteloginbar_popup .dropdown-menu > li > a {
  color: #ffffff; }

header.header .sitetitle, header.header .sitesubtitle {
  text-shadow: none; }

.searchresults blockquote em, .highlight {
  background: #f2dede;
  color: #a94442;
  border-color: #ebccd1; }

.cssmenu_horiz li ul, .cssmenu_vert li ul {
  background-color: #c44a23;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

.cssmenu_horiz li ul > li > a, .cssmenu_vert li ul > li > a {
  padding: 3px 20px;
  font-weight: normal;
  color: #ffffff;
  background: #c44a23; }

.cssmenu_horiz > li > a:hover, .cssmenu_vert > li > a:hover, .cssmenu_horiz ul > li > a:hover, .cssmenu_vert ul > li > a:hover, .cssmenu_horiz > li > a:focus, .cssmenu_vert > li > a:focus, .cssmenu_horiz ul > li > a:focus, .cssmenu_vert ul > li > a:focus {
  text-decoration: none;
  color: #f2f2f2;
  background-color: #e36732; }

.topbar .navbar-nav > li > a, .topbar .navbar > li > a, .topbar .cssmenu_horiz > li > a {
  color: #ffffff; }

.autotoc > .nav {
  background: #ffffff; }

.autotoc * {
  color: #c74b23; }

.autotoc .nav > li > a:hover, .autotoc .nav .nav > li > a:hover, .autotoc .nav > li > a:focus {
  color: #f2f2f2;
  background: #ae421f; }

.autotoc .nav > li .active, .autotoc .nav > li.open > a {
  color: #f2f2f2;
  background: #ae421f; }

.autotoc .nav .dropdown-item {
  color: #c74b23; }

#col2 .card-title, #col3 .card-title, a.flipmoduletitle, #col2 .card-secondary > .card-header a, #col3 .card-secondary > .card-header a {
  color: #e77d4f; }

footer#footer .footer_liner {
  border-top: 1px solid #ebdc14;
  border-bottom: 1px solid #ebdc14; }
  footer#footer .footer_liner .card-header {
    border-bottom: 1px dotted #ebdc14; }

.tiki .chosen-container-multi .chosen-choices {
  background-color: #f8e4dd !important;
  color: #555555 !important;
  border: 1px solid #fac5b1 !important; }
.tiki .chosen-container-single .chosen-single, .tiki .chosen-container-active.chosen-with-drop .chosen-single, .tiki .chosen-container .chosen-drop, .tiki .chosen-container-multi .chosen-choices .search-choice, .tiki .chosen-container-single a:not([href]):not([tabindex]).chosen-single:not(.chosen-default), .tiki .chosen-container-single a:not([href]):not([tabindex]) {
  background-color: #f8e4dd !important;
  color: #555555 !important;
  border: 1px solid #fac5b1 !important; }
.tiki .chosen-container-single .chosen-search input[type="text"] {
  background-color: #f8e4dd !important;
  border: 1px solid #fac5b1 !important; }
.tiki .chosen-container .chosen-results li.highlighted {
  background-color: #003c4a;
  color: #f2f2f2; }
.tiki .chosen-container-single .chosen-single div {
  padding-left: 1rem; }
.tiki .chosen-container-single .chosen-single div::after {
  display: inline-block;
  position: relative;
  top: 0.25rem;
  left: -1rem;
  width: 2rem;
  height: 2rem;
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23adb5bd' d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3C/svg%3E");
  background-size: 2rem 2rem;
  background-position: center center;
  background-repeat: no-repeat; }
.bg-primary {
  background-color: #1174a5 !important; }
  a.bg-primary:hover, button.bg-primary:hover, a.bg-primary:focus, button.bg-primary:focus {
    background-color: #0c5377 !important; }
.bg-secondary {
  background-color: #8452af !important; }
  a.bg-secondary:hover, button.bg-secondary:hover, a.bg-secondary:focus, button.bg-secondary:focus {
    background-color: #6a418d !important; }
.bg-success {
  background-color: #56ca75 !important; }
  a.bg-success:hover, button.bg-success:hover, a.bg-success:focus, button.bg-success:focus {
    background-color: #39b45a !important; }
.bg-info {
  background-color: #5bc0de !important; }
  a.bg-info:hover, button.bg-info:hover, a.bg-info:focus, button.bg-info:focus {
    background-color: #31b0d5 !important; }
.bg-warning {
  background-color: #f0ad4e !important; }
  a.bg-warning:hover, button.bg-warning:hover, a.bg-warning:focus, button.bg-warning:focus {
    background-color: #ec971f !important; }
.bg-danger {
  background-color: #ff3338 !important; }
  a.bg-danger:hover, button.bg-danger:hover, a.bg-danger:focus, button.bg-danger:focus {
    background-color: #ff0006 !important; }
.bg-light {
  background-color: #e77d4f !important; }
  a.bg-light:hover, button.bg-light:hover, a.bg-light:focus, button.bg-light:focus {
    background-color: #e15c22 !important; }
.bg-dark {
  background-color: #e77d4f !important; }
  a.bg-dark:hover, button.bg-dark:hover, a.bg-dark:focus, button.bg-dark:focus {
    background-color: #e15c22 !important; }

.bg-white {
  background-color: #fff !important; }

.bg-transparent {
  background-color: transparent !important; }

.dropup, .dropright, .dropdown, .dropleft {
  position: relative; }

.dropdown-toggle {
  white-space: nowrap; }
  .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent; }
  .dropdown-toggle:empty::after {
    margin-left: 0; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #343a40;
  text-align: left;
  list-style: none;
  background-color: #c44a23;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem; }
  .dropdown-menu-left {
    right: auto;
    left: 0; }
  .dropdown-menu-right {
    right: 0;
    left: auto; }
  @media (min-width: 576px) {
    .dropdown-menu-sm-left {
      right: auto;
      left: 0; }
    .dropdown-menu-sm-right {
      right: 0;
      left: auto; } }
@media (min-width: 768px) {
  .dropdown-menu-md-left {
    right: auto;
    left: 0; }
  .dropdown-menu-md-right {
    right: 0;
    left: auto; } }
@media (min-width: 992px) {
  .dropdown-menu-lg-left {
    right: auto;
    left: 0; }
  .dropdown-menu-lg-right {
    right: 0;
    left: auto; } }
@media (min-width: 1200px) {
  .dropdown-menu-xl-left {
    right: auto;
    left: 0; }
  .dropdown-menu-xl-right {
    right: 0;
    left: auto; } }

.dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 0.125rem; }
  .dropup .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0;
    border-right: 0.3em solid transparent;
    border-bottom: 0.3em solid;
    border-left: 0.3em solid transparent; }
  .dropup .dropdown-toggle:empty::after {
    margin-left: 0; }

.dropright .dropdown-menu {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: 0.125rem; }
  .dropright .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid; }
  .dropright .dropdown-toggle:empty::after {
    margin-left: 0; }
  .dropright .dropdown-toggle::after {
    vertical-align: 0; }

.dropleft .dropdown-menu {
  top: 0;
  right: 100%;
  left: auto;
  margin-top: 0;
  margin-right: 0.125rem; }
  .dropleft .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: ""; }
  .dropleft .dropdown-toggle::after {
    display: none; }
  .dropleft .dropdown-toggle::before {
    display: inline-block;
    margin-right: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0.3em solid;
    border-bottom: 0.3em solid transparent; }
  .dropleft .dropdown-toggle:empty::after {
    margin-left: 0; }
  .dropleft .dropdown-toggle::before {
    vertical-align: 0; }

.dropdown-menu[x-placement^="top"], .dropdown-menu[x-placement^="right"], .dropdown-menu[x-placement^="bottom"], .dropdown-menu[x-placement^="left"] {
  right: auto;
  bottom: auto; }

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #c44a23; }

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #ffffff;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0; }
  .dropdown-item:hover, .dropdown-item:focus {
    color: #f2f2f2;
    text-decoration: none;
    background-color: #e36732; }
  .dropdown-item.active, .dropdown-item:active {
    color: #ffffff;
    text-decoration: none;
    background-color: #ae421f; }
  .dropdown-item.disabled, .dropdown-item:disabled {
    color: #f2f2f2;
    pointer-events: none;
    background-color: transparent; }

.dropdown-menu.show {
  display: block; }

.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #ffffff;
  white-space: nowrap; }

.dropdown-item-text {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #ffffff; }
  .btn-primary {
    color: #fff;
    background-color: #1174a5;
    border-color: #1174a5; }
    .btn-primary:hover {
      color: #fff;
      background-color: #0d5c82;
      border-color: #0c5377; }
    .btn-primary:focus, .btn-primary.focus {
      box-shadow: 0 0 0 0.2rem rgba(17, 116, 165, 0.5); }
    .btn-primary.disabled, .btn-primary:disabled {
      color: #fff;
      background-color: #1174a5;
      border-color: #1174a5; }
    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
      color: #fff;
      background-color: #0c5377;
      border-color: #0b4b6b; }
      .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(17, 116, 165, 0.5); }
  .btn-secondary {
    color: #fff;
    background-color: #8452af;
    border-color: #8452af; }
    .btn-secondary:hover {
      color: #fff;
      background-color: #704596;
      border-color: #6a418d; }
    .btn-secondary:focus, .btn-secondary.focus {
      box-shadow: 0 0 0 0.2rem rgba(132, 82, 175, 0.5); }
    .btn-secondary.disabled, .btn-secondary:disabled {
      color: #fff;
      background-color: #8452af;
      border-color: #8452af; }
    .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
      color: #fff;
      background-color: #6a418d;
      border-color: #633d84; }
      .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(132, 82, 175, 0.5); }
  .btn-success {
    color: #212529;
    background-color: #56ca75;
    border-color: #56ca75; }
    .btn-success:hover {
      color: #fff;
      background-color: #3cbe5f;
      border-color: #39b45a; }
    .btn-success:focus, .btn-success.focus {
      box-shadow: 0 0 0 0.2rem rgba(86, 202, 117, 0.5); }
    .btn-success.disabled, .btn-success:disabled {
      color: #212529;
      background-color: #56ca75;
      border-color: #56ca75; }
    .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
      color: #fff;
      background-color: #39b45a;
      border-color: #36ab55; }
      .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(86, 202, 117, 0.5); }
  .btn-info {
    color: #212529;
    background-color: #5bc0de;
    border-color: #5bc0de; }
    .btn-info:hover {
      color: #fff;
      background-color: #3bb4d8;
      border-color: #31b0d5; }
    .btn-info:focus, .btn-info.focus {
      box-shadow: 0 0 0 0.2rem rgba(91, 192, 222, 0.5); }
    .btn-info.disabled, .btn-info:disabled {
      color: #212529;
      background-color: #5bc0de;
      border-color: #5bc0de; }
    .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
      color: #fff;
      background-color: #31b0d5;
      border-color: #2aaacf; }
      .btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus, .show > .btn-info.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(91, 192, 222, 0.5); }
  .btn-warning {
    color: #212529;
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
    .btn-warning:hover {
      color: #212529;
      background-color: #ed9d2b;
      border-color: #ec971f; }
    .btn-warning:focus, .btn-warning.focus {
      box-shadow: 0 0 0 0.2rem rgba(240, 173, 78, 0.5); }
    .btn-warning.disabled, .btn-warning:disabled {
      color: #212529;
      background-color: #f0ad4e;
      border-color: #f0ad4e; }
    .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
      color: #212529;
      background-color: #ec971f;
      border-color: #ea9214; }
      .btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus, .show > .btn-warning.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(240, 173, 78, 0.5); }
  .btn-danger {
    color: #fff;
    background-color: #ff3338;
    border-color: #ff3338; }
    .btn-danger:hover {
      color: #fff;
      background-color: #ff0d13;
      border-color: #ff0006; }
    .btn-danger:focus, .btn-danger.focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 51, 56, 0.5); }
    .btn-danger.disabled, .btn-danger:disabled {
      color: #fff;
      background-color: #ff3338;
      border-color: #ff3338; }
    .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show > .btn-danger.dropdown-toggle {
      color: #fff;
      background-color: #ff0006;
      border-color: #f20006; }
      .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-danger.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 51, 56, 0.5); }
  .btn-light {
    color: #212529;
    background-color: #e77d4f;
    border-color: #e77d4f; }
    .btn-light:hover {
      color: #fff;
      background-color: #e2642d;
      border-color: #e15c22; }
    .btn-light:focus, .btn-light.focus {
      box-shadow: 0 0 0 0.2rem rgba(231, 125, 79, 0.5); }
    .btn-light.disabled, .btn-light:disabled {
      color: #212529;
      background-color: #e77d4f;
      border-color: #e77d4f; }
    .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
      color: #fff;
      background-color: #e15c22;
      border-color: #d9561e; }
      .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(231, 125, 79, 0.5); }
  .btn-dark {
    color: #212529;
    background-color: #e77d4f;
    border-color: #e77d4f; }
    .btn-dark:hover {
      color: #fff;
      background-color: #e2642d;
      border-color: #e15c22; }
    .btn-dark:focus, .btn-dark.focus {
      box-shadow: 0 0 0 0.2rem rgba(231, 125, 79, 0.5); }
    .btn-dark.disabled, .btn-dark:disabled {
      color: #212529;
      background-color: #e77d4f;
      border-color: #e77d4f; }
    .btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show > .btn-dark.dropdown-toggle {
      color: #fff;
      background-color: #e15c22;
      border-color: #d9561e; }
      .btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-dark.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(231, 125, 79, 0.5); }
  .btn-outline-primary {
    color: #1174a5;
    background-color: transparent;
    background-image: none;
    border-color: #1174a5; }
    .btn-outline-primary:hover {
      color: #fff;
      background-color: #1174a5;
      border-color: #1174a5; }
    .btn-outline-primary:focus, .btn-outline-primary.focus {
      box-shadow: 0 0 0 0.2rem rgba(17, 116, 165, 0.5); }
    .btn-outline-primary.disabled, .btn-outline-primary:disabled {
      color: #1174a5;
      background-color: transparent; }
    .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
      color: #fff;
      background-color: #1174a5;
      border-color: #1174a5; }
      .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(17, 116, 165, 0.5); }
  .btn-outline-secondary {
    color: #8452af;
    background-color: transparent;
    background-image: none;
    border-color: #8452af; }
    .btn-outline-secondary:hover {
      color: #fff;
      background-color: #8452af;
      border-color: #8452af; }
    .btn-outline-secondary:focus, .btn-outline-secondary.focus {
      box-shadow: 0 0 0 0.2rem rgba(132, 82, 175, 0.5); }
    .btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
      color: #8452af;
      background-color: transparent; }
    .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
      color: #fff;
      background-color: #8452af;
      border-color: #8452af; }
      .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(132, 82, 175, 0.5); }
  .btn-outline-success {
    color: #56ca75;
    background-color: transparent;
    background-image: none;
    border-color: #56ca75; }
    .btn-outline-success:hover {
      color: #212529;
      background-color: #56ca75;
      border-color: #56ca75; }
    .btn-outline-success:focus, .btn-outline-success.focus {
      box-shadow: 0 0 0 0.2rem rgba(86, 202, 117, 0.5); }
    .btn-outline-success.disabled, .btn-outline-success:disabled {
      color: #56ca75;
      background-color: transparent; }
    .btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
      color: #212529;
      background-color: #56ca75;
      border-color: #56ca75; }
      .btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(86, 202, 117, 0.5); }
  .btn-outline-info {
    color: #5bc0de;
    background-color: transparent;
    background-image: none;
    border-color: #5bc0de; }
    .btn-outline-info:hover {
      color: #212529;
      background-color: #5bc0de;
      border-color: #5bc0de; }
    .btn-outline-info:focus, .btn-outline-info.focus {
      box-shadow: 0 0 0 0.2rem rgba(91, 192, 222, 0.5); }
    .btn-outline-info.disabled, .btn-outline-info:disabled {
      color: #5bc0de;
      background-color: transparent; }
    .btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active, .show > .btn-outline-info.dropdown-toggle {
      color: #212529;
      background-color: #5bc0de;
      border-color: #5bc0de; }
      .btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-info.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(91, 192, 222, 0.5); }
  .btn-outline-warning {
    color: #f0ad4e;
    background-color: transparent;
    background-image: none;
    border-color: #f0ad4e; }
    .btn-outline-warning:hover {
      color: #212529;
      background-color: #f0ad4e;
      border-color: #f0ad4e; }
    .btn-outline-warning:focus, .btn-outline-warning.focus {
      box-shadow: 0 0 0 0.2rem rgba(240, 173, 78, 0.5); }
    .btn-outline-warning.disabled, .btn-outline-warning:disabled {
      color: #f0ad4e;
      background-color: transparent; }
    .btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active, .show > .btn-outline-warning.dropdown-toggle {
      color: #212529;
      background-color: #f0ad4e;
      border-color: #f0ad4e; }
      .btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-warning.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(240, 173, 78, 0.5); }
  .btn-outline-danger {
    color: #ff3338;
    background-color: transparent;
    background-image: none;
    border-color: #ff3338; }
    .btn-outline-danger:hover {
      color: #fff;
      background-color: #ff3338;
      border-color: #ff3338; }
    .btn-outline-danger:focus, .btn-outline-danger.focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 51, 56, 0.5); }
    .btn-outline-danger.disabled, .btn-outline-danger:disabled {
      color: #ff3338;
      background-color: transparent; }
    .btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active, .show > .btn-outline-danger.dropdown-toggle {
      color: #fff;
      background-color: #ff3338;
      border-color: #ff3338; }
      .btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-danger.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 51, 56, 0.5); }
  .btn-outline-light {
    color: #e77d4f;
    background-color: transparent;
    background-image: none;
    border-color: #e77d4f; }
    .btn-outline-light:hover {
      color: #212529;
      background-color: #e77d4f;
      border-color: #e77d4f; }
    .btn-outline-light:focus, .btn-outline-light.focus {
      box-shadow: 0 0 0 0.2rem rgba(231, 125, 79, 0.5); }
    .btn-outline-light.disabled, .btn-outline-light:disabled {
      color: #e77d4f;
      background-color: transparent; }
    .btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active, .show > .btn-outline-light.dropdown-toggle {
      color: #212529;
      background-color: #e77d4f;
      border-color: #e77d4f; }
      .btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-light.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(231, 125, 79, 0.5); }
  .btn-outline-dark {
    color: #e77d4f;
    background-color: transparent;
    background-image: none;
    border-color: #e77d4f; }
    .btn-outline-dark:hover {
      color: #212529;
      background-color: #e77d4f;
      border-color: #e77d4f; }
    .btn-outline-dark:focus, .btn-outline-dark.focus {
      box-shadow: 0 0 0 0.2rem rgba(231, 125, 79, 0.5); }
    .btn-outline-dark.disabled, .btn-outline-dark:disabled {
      color: #e77d4f;
      background-color: transparent; }
    .btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active, .show > .btn-outline-dark.dropdown-toggle {
      color: #212529;
      background-color: #e77d4f;
      border-color: #e77d4f; }
      .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-dark.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(231, 125, 79, 0.5); }

.btn-link {
  color: #c74b23;
  background-color: transparent; }
  .btn-link:hover {
    color: #e77d4f;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent; }
  .btn-link:focus, .btn-link.focus {
    text-decoration: none;
    border-color: transparent;
    box-shadow: none; }
  .btn-link:disabled, .btn-link.disabled {
    color: #6c757d;
    pointer-events: none; }

.btn-primary {
  color: #fff;
  background-color: #f06423;
  border-color: #de510f; }
  .btn-primary:hover {
    color: #fff;
    background-color: #d24c0e;
    border-color: #f2753b; }
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(222, 81, 15, 0.5); }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #f06423;
    border-color: #de510f; }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #212529;
    background-color: #f38653;
    border-color: #722a08; }
    .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(222, 81, 15, 0.5); }

.btn-outline-primary {
  color: #f06423;
  background-color: transparent;
  background-image: none;
  border-color: #f06423; }
  .btn-outline-primary:hover {
    color: #222222;
    background-color: #f2753b;
    border-color: #f06423; }
  .btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 100, 35, 0.5); }
  .btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #f06423;
    background-color: transparent; }
  .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #f2753b;
    border-color: #f06423; }
    .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(240, 100, 35, 0.5); }

.btn-secondary {
  color: #fff;
  background-color: #952f20;
  border-color: #762519; }
  .btn-secondary:hover {
    color: #fff;
    background-color: #6b2217;
    border-color: #aa3625; }
  .btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(118, 37, 25, 0.5); }
  .btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #952f20;
    border-color: #762519; }
  .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #bf3c29;
    border-color: #170705; }
    .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(118, 37, 25, 0.5); }

.btn-outline-secondary {
  color: #952f20;
  background-color: transparent;
  background-image: none;
  border-color: #952f20; }
  .btn-outline-secondary:hover {
    color: #222222;
    background-color: #aa3625;
    border-color: #952f20; }
  .btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(149, 47, 32, 0.5); }
  .btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: #952f20;
    background-color: transparent; }
  .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #aa3625;
    border-color: #952f20; }
    .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(149, 47, 32, 0.5); }

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #48a648; }
  .btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #6ec06e; }
  .btn-success:focus, .btn-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 166, 72, 0.5); }
  .btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #5cb85c;
    border-color: #48a648; }
  .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
    color: #212529;
    background-color: #80c780;
    border-color: #255625; }
    .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(72, 166, 72, 0.5); }

.btn-outline-success {
  color: #5cb85c;
  background-color: transparent;
  background-image: none;
  border-color: #5cb85c; }
  .btn-outline-success:hover {
    color: #222222;
    background-color: #6ec06e;
    border-color: #5cb85c; }
  .btn-outline-success:focus, .btn-outline-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(92, 184, 92, 0.5); }
  .btn-outline-success.disabled, .btn-outline-success:disabled {
    color: #5cb85c;
    background-color: transparent; }
  .btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
    color: #212529;
    background-color: #6ec06e;
    border-color: #5cb85c; }
    .btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(92, 184, 92, 0.5); }

.btn-info {
  color: #fff;
  background-color: #ba3a26;
  border-color: #9a3020; }
  .btn-info:hover {
    color: #fff;
    background-color: #902d1d;
    border-color: #cf412a; }
  .btn-info:focus, .btn-info.focus {
    box-shadow: 0 0 0 0.2rem rgba(154, 48, 32, 0.5); }
  .btn-info.disabled, .btn-info:disabled {
    color: #fff;
    background-color: #ba3a26;
    border-color: #9a3020; }
  .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #d7513c;
    border-color: #3b120c; }
    .btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus, .show > .btn-info.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(154, 48, 32, 0.5); }

.btn-outline-info {
  color: #ba3a26;
  background-color: transparent;
  background-image: none;
  border-color: #ba3a26; }
  .btn-outline-info:hover {
    color: #222222;
    background-color: #cf412a;
    border-color: #ba3a26; }
  .btn-outline-info:focus, .btn-outline-info.focus {
    box-shadow: 0 0 0 0.2rem rgba(186, 58, 38, 0.5); }
  .btn-outline-info.disabled, .btn-outline-info:disabled {
    color: #ba3a26;
    background-color: transparent; }
  .btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active, .show > .btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #cf412a;
    border-color: #ba3a26; }
    .btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-info.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(186, 58, 38, 0.5); }

.btn-warning {
  color: #212529;
  background-color: #f0ad4e;
  border-color: #ed9d2b; }
  .btn-warning:hover {
    color: #212529;
    background-color: #ec971f;
    border-color: #f2b866; }
  .btn-warning:focus, .btn-warning.focus {
    box-shadow: 0 0 0 0.2rem rgba(237, 157, 43, 0.5); }
  .btn-warning.disabled, .btn-warning:disabled {
    color: #212529;
    background-color: #f0ad4e;
    border-color: #ed9d2b; }
  .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
    color: #212529;
    background-color: #f4c37d;
    border-color: #985f0d; }
    .btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus, .show > .btn-warning.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(237, 157, 43, 0.5); }

.btn-outline-warning {
  color: #f0ad4e;
  background-color: transparent;
  background-image: none;
  border-color: #f0ad4e; }
  .btn-outline-warning:hover {
    color: #222222;
    background-color: #f2b866;
    border-color: #f0ad4e; }
  .btn-outline-warning:focus, .btn-outline-warning.focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 173, 78, 0.5); }
  .btn-outline-warning.disabled, .btn-outline-warning:disabled {
    color: #f0ad4e;
    background-color: transparent; }
  .btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active, .show > .btn-outline-warning.dropdown-toggle {
    color: #212529;
    background-color: #f2b866;
    border-color: #f0ad4e; }
    .btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-warning.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(240, 173, 78, 0.5); }

.btn-danger {
  color: #fff;
  background-color: #ff3338;
  border-color: #ff0d13; }
  .btn-danger:hover {
    color: #fff;
    background-color: #ff0006;
    border-color: #ff4d51; }
  .btn-danger:focus, .btn-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 13, 19, 0.5); }
  .btn-danger.disabled, .btn-danger:disabled {
    color: #fff;
    background-color: #ff3338;
    border-color: #ff0d13; }
  .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #ff666a;
    border-color: #990004; }
    .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-danger.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 13, 19, 0.5); }

.btn-outline-danger {
  color: #ff3338;
  background-color: transparent;
  background-image: none;
  border-color: #ff3338; }
  .btn-outline-danger:hover {
    color: #222222;
    background-color: #ff4d51;
    border-color: #ff3338; }
  .btn-outline-danger:focus, .btn-outline-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 51, 56, 0.5); }
  .btn-outline-danger.disabled, .btn-outline-danger:disabled {
    color: #ff3338;
    background-color: transparent; }
  .btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active, .show > .btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #ff4d51;
    border-color: #ff3338; }
    .btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-danger.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 51, 56, 0.5); }

.btn-light {
  color: #212529;
  background-color: #e77d4f;
  border-color: #e2642d; }
  .btn-light:hover {
    color: #fff;
    background-color: #e15c22;
    border-color: #ea8e65; }
  .btn-light:focus, .btn-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(226, 100, 45, 0.5); }
  .btn-light.disabled, .btn-light:disabled {
    color: #212529;
    background-color: #e77d4f;
    border-color: #e2642d; }
  .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
    color: #212529;
    background-color: #ed9e7c;
    border-color: #8a3713; }
    .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(226, 100, 45, 0.5); }

.btn-outline-light {
  color: #e77d4f;
  background-color: transparent;
  background-image: none;
  border-color: #e77d4f; }
  .btn-outline-light:hover {
    color: #222222;
    background-color: #ea8e65;
    border-color: #e77d4f; }
  .btn-outline-light:focus, .btn-outline-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(231, 125, 79, 0.5); }
  .btn-outline-light.disabled, .btn-outline-light:disabled {
    color: #e77d4f;
    background-color: transparent; }
  .btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active, .show > .btn-outline-light.dropdown-toggle {
    color: #212529;
    background-color: #ea8e65;
    border-color: #e77d4f; }
    .btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-light.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(231, 125, 79, 0.5); }

.btn-dark {
  color: #212529;
  background-color: #e77d4f;
  border-color: #e2642d; }
  .btn-dark:hover {
    color: #fff;
    background-color: #e15c22;
    border-color: #ea8e65; }
  .btn-dark:focus, .btn-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(226, 100, 45, 0.5); }
  .btn-dark.disabled, .btn-dark:disabled {
    color: #212529;
    background-color: #e77d4f;
    border-color: #e2642d; }
  .btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show > .btn-dark.dropdown-toggle {
    color: #212529;
    background-color: #ed9e7c;
    border-color: #8a3713; }
    .btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-dark.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(226, 100, 45, 0.5); }

.btn-outline-dark {
  color: #e77d4f;
  background-color: transparent;
  background-image: none;
  border-color: #e77d4f; }
  .btn-outline-dark:hover {
    color: #222222;
    background-color: #ea8e65;
    border-color: #e77d4f; }
  .btn-outline-dark:focus, .btn-outline-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(231, 125, 79, 0.5); }
  .btn-outline-dark.disabled, .btn-outline-dark:disabled {
    color: #e77d4f;
    background-color: transparent; }
  .btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active, .show > .btn-outline-dark.dropdown-toggle {
    color: #212529;
    background-color: #ea8e65;
    border-color: #e77d4f; }
    .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-dark.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(231, 125, 79, 0.5); }
