.tiki-webmail, .tiki-cypht, .mobile.tiki-cypht, .inline-cypht {
    background: $body-bg;
    font-family: $font-family-base;
    color: $body-color;

    a:not(.btn), a.btn-link {
        color: $link-color;
        &:hover {
            color: $link-hover-color !important;
            text-decoration: inherit;
        }
    }

    .flipmodtitle.close, .close {
        font-size: $close-font-size;
        &, &:hover, &:focus { color: $close-color !important; }
    }

    .navbar-light .navbar-nav .nav-link {
        color: $navbar-light-color;
        &:hover, &:focus { color: $navbar-light-hover-color !important; }
    }
    .navbar-dark .navbar-nav .nav-link {
        color: $navbar-dark-color;
        &:hover, &:focus { color: $navbar-dark-hover-color !important; }
    }
    .dropdown-menu .dropdown-item {
        color: $dropdown-link-color;
        &:hover, &:focus { color: $dropdown-link-hover-color !important; }
    }
}

.inline-cypht {
    background: transparent;
    a:not(.btn):hover {
    	text-decoration: $link-hover-decoration !important;
    }

    .folders a, .subject a, .selected_menu a,
    .unread_link, .selected_menu, .manage_folder_link {
        &:not(.btn) {
            color: $link-color !important;
            &:hover {
                color: $link-hover-color !important;
                text-decoration: $link-hover-decoration;
            }
        }
    }

    .folder_list, .content_cell, .compose_page, .message_list, .msg_text, .selected_part,
    .server_content, .profile_content, .user_settings,
    .nux_add_account, .imap_server_setup, .pop3_server_setup,
    .configured_server, .add_server {
        background-color: $popover-bg;
        color: $popover-body-color;
    }

    .folder_list, .content_cell { border: 1px solid $input-border-color; }
    .content_title {
        .list_meta { color: $popover-header-color !important; }
        .list_controls {
            border-top: 1px solid $input-border-color;
            border-right: 1px solid $input-border-color;
        }
    }

    .src_name, .content_title, .list_controls {
        background: $popover-header-bg;
        color: $popover-header-color;
    }
    .src_name { border-left-color: transparent; }

    .message_table > tbody > tr > td, .msg_headers, .reply_quote,
    .user_settings table td, .nux_empty_combined_view,
    .empty_list, .profiles_empty, .subtitle {
        color: $popover-body-color;
    }
    .msg_text_inner > table { background-color: #fff; }

    .msg_headers th:hover, .settings_subtitle,
    .server_section { color: $popover-body-color !important; }

    .total_unread_count, .unread_count { color: #000; }
    .btn-outline-secondary:hover { color: #fff !important; }

    .profile_details th, .msg_date,
    .news_cell .source, .news_cell .from { color: $popover-body-color; }

    input[type=button], input[type=submit] {
    	display: inline-block;
    	font-weight: $btn-font-weight;
    	text-align: center;
    	white-space: nowrap;
    	vertical-align: middle;
    	user-select: none;
    	border: $btn-border-width solid transparent;
    	@include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
    	@include transition($btn-transition);
        @include hover-focus { text-decoration: none; }
        padding: $btn-padding-y $btn-padding-x !important;
        cursor: pointer;

    	&:focus, &.focus {
    		outline: 0;
    		box-shadow: $btn-focus-box-shadow;
    	}

    	&.disabled, &:disabled {
            opacity: $btn-disabled-opacity;
            cursor: default;
    		@include box-shadow(none);
    	}
    }

    input[type=submit] {
    	@include button-variant($primary, $primary);
    }

    input[type=button] {
    	@include button-variant($secondary, $secondary);
    }
}

.mobile.tiki-cypht, .mobile.tiki-webmail {
    .content_cell .content_title {
        &, .list_controls {
            background: $popover-header-bg;
            color: $popover-header-color;
        }
    }

    .msg_controls {
        background: $popover-header-bg !important;
    }

    .folder_list {
        background-color: $popover-bg;
        color: $popover-body-color;
        border: 1px solid $input-border-color;

        .src_name {
            background: $popover-header-bg;
            color: $popover-header-color;
            border-left-color: transparent;
        }
    }

    .nux_dev_news table td:last-child {
        border-bottom: 1px solid $input-border-color;
    }
}
